.container {
  /* margin-left: 70px; */
  /* overflow: hidden; */
  /* background-color: grey; */
  width: 400px;
  height: 190px;
}
.battleinfo{
  width: 200px;
  height: 258px;
}
.standard-bar{
  height: 50px;
  width: 500px;

}
.status-effects-bar{
  height: 25px;
  width: 500px;
  text-indent: 4px;
  font-size: 14px;
}
.window-border, .battleinfo, .statwin-skills, .skillBox, .mini-enemy-box{
  background-color: lightcyan;
  border: 1px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.text-offset-status{
  padding-left: 6px;
  font-weight: bold;
}
/* .container .row{
  flex-wrap: nowrap;
} */
.skillBox, .mini-enemy-box {
  height: 100px;
}
.skills .btn {
  margin-right: 1%;
  margin-top: 2%;
  margin-bottom: 0px;
  width: 23%;
  height: 20%;
}

.statwin-namehp {
  width: 105%;
  height: 89%;
}

.inner-window, .statwin-three-box, .miniEnemyUI, .statwin-skills, .statwin-namehp{
  background-color: lightblue;
  border: 3px solid black;
  margin-left: -12px;
  margin-top: 3px;
  text-indent: 4px;
  text-overflow: hidden; 
}

.statwin-three-box {
  text-align: left;
  margin-top: 1px;
  width: 118%;
  height: 95%;
}
.namehp, .HPBar{
  height: 99%;
  text-overflow: hidden; 
  white-space: nowrap;
  background-color: red;
  font-weight: bold;
  margin-left: 0px;
  margin-top: .5px;
}
.miniEnemyUI{
  border: 2px solid black;
  /* margin-right: -10px; */
  width: 105%;
  height: 21%;

}
.miniHPBar{
  height: 100%;
  background-color: red;
  font-size: 10px;
  text-overflow: hidden; 
  white-space: nowrap;
  font-weight: bold;
}

.statwin-skills {
  margin-top: 2px;
  width: 105%;
  height: 95%;
}
/* 
.ActionsLeft , .sp, .mp
{
  font-size: 20px;
} */


.statwin-text, .charge, .ActionsLeft{
  display:inline-block;
  font-size: 20px;
}
.inline{
  display: inline-block;
}

.blinker {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

