.container {
  /* margin-left: 70px; */
  /* overflow: hidden; */
  /* background-color: grey; */
  width: 400px;
  height: 190px;
}
.battleinfo{
  width: 200px;
  height: 258px;
}
.battleinfo-buttons{
  margin-right: 5px;
}
.cut-text { 
  text-overflow: ellipsis;
  overflow: hidden; 
  width: 160px; 
  height: 1.2em; 
  white-space: nowrap;
}
.turn-indicator{
  background-color: lightblue;
  border: 3px solid black;
  width:95%;
  height:30%;
  margin-top: 4px;
  margin-left:5px;
  text-indent: 4px;
}
.standard-bar{
  height: 50px;
  width: 500px;

}
.status-effects-bar{
  height: 25px;
  width: 500px;
  text-indent: 4px;
  font-size: 14px;
}
.window-border, .battleinfo, .statwin-skills, .skillBox, .mini-enemy-box{
  background-color: lightcyan;
  border: 1px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.text-offset-status{
  padding-left: 6px;
  font-weight: bold;
}
/* .container .row{
  flex-wrap: nowrap;
} */
.skillBox, .mini-enemy-box {
  height: 100px;
}

.skills{
  width: 100%;
  /* height:50%; */
  margin-top:2px;
  margin-left:4px;
}
.skill-btn{
  width:100%;
  margin-left:0px;
}
.btn-group{
  width:23%
}

.inner-window, .statwin-three-box, .miniEnemyUI, .statwin-skills, .statwin-namehp{
  background-color: lightblue;
  border: 3px solid black;
  margin-left: -12px;
  margin-top: 3px;
  text-indent: 4px;
  text-overflow: hidden; 
}
.statwin-namehp {
  width: 105%;
  height: 90%;
  margin-top: 2px;
}

.statwin-three-box {
  text-align: left;
  margin-top: 1pxp;
  width: 118%;
  height: 85%;
}
.namehp, .HPBar{
  height: 100%;
  text-overflow: hidden; 
  white-space: nowrap;
  background-color: red;
  font-weight: bold;
  
}
.miniEnemyUI{
  border: 2px solid black;
  /* margin-right: -10px; */
  width: 105%;
  height: 21%;

}
.miniHPBar{
  height: 100%;
  background-color: red;
  font-size: 10px;
  text-overflow: hidden; 
  white-space: nowrap;
  font-weight: bold;
}

.statwin-skills {
  margin-top: 2px;
  width: 105%;
  height: 95%;
}
/* 
.ActionsLeft , .sp, .mp
{
  font-size: 20px;
} */
.bar{
  height:40px;
}
.statwin-three-box{
  height: 34px;
}
.statwin-text, .charge, .ActionsLeft{
  /* display:inline-block; */
  font-size: 20px;
  text-align: left;
  /* margin-bottom: 10px; */
  vertical-align: middle;
  line-height: 25px;
}
.inline{
  display: inline-block;
}

.my-tooltip > .tooltip-inner {
  background-color: black ;
  color: white;
  font-size: 15px;
}
.blinker {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

