.Window {
  text-align: left;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.Window-main {
  background-color: lightblue;
  border-left: .5vw solid black;
  border-right: .5vw solid black;
  border-top: 1vh solid black;
  border-bottom: 1vh solid black;
  height: 850px;
  width: 1440px;
  /* width: 1200px; */
  /* min-width: 500px; */
  /* min-height: 500px; */

  align-items: left;
  /* justify-content: start; */
  font-size: 22px;
  color: black;
  
}

.Window-main-content{
  height: 550px;
}

.Window-link {
  color: #61dafb;
}

.pos{
  display:flex;  
  flex-shrink: 0;
  width: 99%;
  min-height: 240px;
  margin-left: 2px;
  margin-top: 2px;
}

.Log{
  background-color: lightblue;
  border: 1px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  width: 98%;
  height: 240px;
  margin-bottom: 10px;
  margin-left: 5px;
  overflow: auto;
}

/* @media (max-width: 900px) {

  .Window-main
  {
    border-right:0px solid !important;
    }


  }
  @media ( max-height: 700px) {

    .Window-main
    {
      border-bottom:0px solid !important;
      }  
    } */